@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


h1{
    font-family: 'Chelsea Market', cursive;
    font-size: 80px;
}




#but1{
    background-color: #FF764E;
    margin: 5% 5% 0 25%;
    border-radius: 25px;
    padding: 30px;
    font-size:30px;
    color: white;
    
}
#but2{
    background-color: #5ED3EB ;
    border-color:  #5ED3EB;
    margin: 0 5% 0 0;
    padding: 30px;
    border-radius: 25px;
    font-size: 30px;
    color: white;

}
#but3{
    background-color: #FFCD69;
    border-color: #FFCD69;
    margin: 0 5% 0 0;
    padding: 30px;
    border-radius: 25px;
    font-size: 30px;
    color: white;
}

.Avatar{ 
border-radius: 50%;
height: 15%;
width: 15%;
margin: 10% 15% 15% 20%;
display: inline-block;

}

header{
    text-align: center;
    margin: -30% 5% 5% 35%;
}

.Writing{
margin: 0 0 0 5%;
padding: 40px;
}
p{
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
}

.fire{
    max-width: 10%;
    height: auto;
    padding: 25px;
    margin: 0 50%  0 50%;
}

.van{
    max-width: 10%;
    height: auto;
    padding: 25px;
    margin: 0 0  0 50%;
}

body{
    border: solid;
    border-width: 10px;
    overflow-x: hidden;
}

.Tomato{

padding: 200px 0 0 200px;


}

.vanwords{
    margin: 0 20% 0 30%;
    
}

*{
box-sizing: border-box;
border: 1px salmon;
max-width: 100%;
}

.firewords{
    margin: 0 20% 0 30%;
    
}

.sec{
    margin-top: 10%;
    text-align: center;
    background-color: #DDB9A3;
    color: white;
    padding: 35px;
   

}

footer{
    background-color: #F9E7DC;
}